.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryErorr {
    border: red solid 1px;
    padding: 5px;
    color: red;
}