.nav {
    grid-area: nav;
    background-color: lightslategrey;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
}

a.active {
    color: gold;
}