.App-wrapper {
    display: grid;

    grid-template-areas: "header header header" "nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    width: 1200px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    background-color: cadetblue;
    width: 100%;
}

.header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav {
    grid-area: nav;
    background-color: lightslategrey;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content {
    grid-area: content;
    background-color: lightgray;
}

.content img {
    max-width: 100%;
}